body {
	text-font: roboto;
	margin: 0px;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

li {
	list-style-type: none;
	margin: 0px 8px;
}

.header-link {
	font-size: 18px;
	color: #E5E7EB;
}

ul {
	display: flex;
	justify-content: space-between;
}


.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px;
}

.header, .hero, .footer {
	background-color: #1F2937;
}

.hero-main-text {
	color: #F9FAF8;
	font-size: 48px;
	font-weight: 900;
}

.hero {
	display: flex;
	justify-content: space-around;


	padding: 128px;
}

.bb-group {
	display: flex;
	justify-content: space-around;
	padding: 0px 128px;
	margin: 0px 8px;
}

.bb-group > div {
	align-text: center;
	margin: 0px 8px;
}

.hero-left {
	flex-basis: 384px;
}

.hero-image {
	padding: 96px;
	margin: 24px;
	background-color: #6D747D;
}


.blue-box {
	border: 4px solid #3882f6;
	height: 128px;
	width: 128px;
	margin: auto;
	border-radius: 16px;
}

.information-header {
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
	text-align: center;
}

.illustration-section {
	padding: 0px 64px 64px 64px;
}

.subtext {
	text-align: center;
}

.hero-secondary-text {
	color: #E5E7EB;
	font-size: 18px;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}

.quote-section {
	background-color: #e5e7eb;
	padding: 128px;
	display: flex;
	flex-direction: column;
}

.attribution {
	align-self: flex-end;
}


.testimonial {
	font-size: 36px;
	color: #1F2937;
	font-weight: 300;
}

.call-to-action {
	align-self: stretch;
	display: flex;
	background-color: #3882F6;
	margin: 64px;
	padding: 32px;
	justify-content: space-around;
	align-items: center;
	border-radius: 8px;
	
}

button {
	background-color: #3882f6;
	color: #F9FAF8;
	border-color: #F9FAF8;
	border-radius: 4px;
	height: 32px;
	width: 80px;
}


.sign-up-block {
}

.cta-tit {
	color: #F9FAF8;
	font-size: 24px;
	margin: 0px;
}

.cta-text {
	color: #E5E7EB;
	margin: 4px;
}


.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 24px;
	color: #F9FAF8;
}	
